.latest-report {
    background-color: var(--sea-foam);
    box-shadow: 0px 0px 10px white;
}
.latest-report h4 {
    color: var(--atlas-red);
    font-family: var(--paragraph);
    text-align: center;
    font-size: 28px;
    padding: 1rem;
    padding-bottom: 0;

}

.latest-report ul {
    justify-content: space-between;
}


.latest-report h5 {
    color: var(--atlas-green);
    padding: 0;
    font-family: var(--paragraph);
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.latest-report h5:hover {
    color: var(--atlas-blue);
}

.latest-report .month {
    margin: 0;
    padding:0;
}

.latest-report .month ul {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    list-style-type: none;
    border-left: 1px solid var(--atlas-red);
    
    
}

.latest-report .month ul li {
    text-align: center;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0;
   color: var(--atlas-blue);
   font-weight: bold;
   font-family: var(--paragraph);
   text-transform: uppercase;

}

.latest-report .month ul li:hover {
color: var(--atlas-green);
}

.catalog-controls {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.catalog-controls button {
    background-color: var(--sea-foam);
        color: var(--atlas-green);
        border: 1px solid var(--atlas-green);
        width: 100px;
        height: 35px;
        font-size: 15px;
        border-radius: 2px;
        cursor: pointer;
        font-family: var(--raleway);
        font-weight: bold;
}

.catalog-controls button:hover {
    background-color: var(--atlas-green);
        color: var(--tea-green);
}

.catalog-controls span {
    color: var(--atlas-green);
    font-family: var(--paragraph);
    padding: 0.5rem;
    font-size: 16px;
    

}

.latest-report .button {
    display: flex;
       justify-content: space-between;
    font-size: 14px;
    font-family: var(--heading-1);
    margin-top: 0;
    padding-top: 0;
}

.latest-report .view {
    border: none;
    background: none;
    color: var(--atlas-green);
    margin: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
    

}

.latest-report .view:hover {
    color: var(--atlas-red);
    text-decoration: underline;
}

.latest-report .download {
    border: none;
        background: none;
        color: var(--atlas-green);
       margin: 0;
        padding: 0;
        cursor: pointer;
}

.latest-report .download:hover {
    color: var(--atlas-red);
    text-decoration: underline;
}

.last-year {
    background-color: var(--sea-foam);
        box-shadow: 0px 0px 10px white;
}

.last-year h4 {
    color: var(--atlas-red);
    font-family: var(--paragraph);
    text-align: center;
    font-size: 28px;
    padding: 1rem;
    padding-bottom: 0;

}

.last-year ul {
    justify-content: space-between;
}


.last-year h5 {
    color: var(--atlas-green);
    padding: 0;
    font-family: var(--paragraph);
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
}

.last-year h5:hover {
    color: var(--atlas-green);
}

.last-year {
    text-align: center;
}

.last-year .month-list {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    /* Adjust the margin as needed for spacing */
}

.last-year .month-list ul {
    list-style: none;
    padding: 0;
}

 .last-year .month-list ul li {
    margin-bottom: 5px;
    /* Adjust the margin as needed for spacing */
}


