













      

/* ImageSlideshow */

.image-component {
    margin: 1rem;
    padding: 1rem;
    margin-top: 5rem;
}
.slideshow-container img {
   height: 100%;
}
 


.navigation-arrow {
    color: var(--atlas-green);    
    background: var(--tea-green);
    border: none;
    cursor: pointer;
}

.image-number {
    text-align: center;
    font-family: var(--paragraph);
    color: var(--atlas-green);
}

/* DateTimeDisplay */
.date-time {
    display: flex;
    text-align: center;
    margin-top: 0;
   
}


.empty {
    flex: 9;

}

.full {
    flex: 1;
    margin-right: 0;
}
.date-time .hours {
    font-family: var(--lists);
   
}

.date-time .span {
    padding: 1rem;
}

.date-time .span .days {
    font-family: var(---paragraph)!important;
    color: var(--atlas-blue);
    
    
}
.date-time span,
.date-time p {
    padding-bottom: 0;
    margin: 0;
}

.date-time .span {
    text-align: right;
        margin-right: 1px;
    display: flex;
   align-content: space-evenly;
  
   
}

@media (max-width: 900px) {
    .date-time {
            display: flex;
          
        }

        .empty {
            flex: 5;
        }

        .full {
            flex: 2;
        }

}
    


    


