.report-controls button {
   background-color: var(--sea-foam);
   border: 1px solid var(--tea-green);
   color: var(--atlas-green);
   width: 100px;
   height: 40px;
    
}

.report-controls button:hover {
   background-color: var(--atlas-green);
   color: var(--tea-green);

}
