.report-controls button {
   background-color: white;
   border: 1px solid var(--atlas-blue);
   color: var(--atlas-blue);
   width: 100px;
   height: 40px;
    
}

.report-controls button:hover {
    border: 1px solid var(--atlas-green);
        color: var(--atlas-green);

}
