/* Root */
:root {
    --atlas-blue: #342F7F;
    --atlas-green: #009F55;
    --background-grey: #BFC0BD;
    --potgrey: #424839;
    --plate-black: #191A0B;
    --tea-green: #d0f0c0;
    --atlas-red: #E4440A;
    --heading-1: 'Montserrat',
        sans-serif;
        --welcome: 'Montez',
            cursive;
            --atlas-font: 'Merriweather',
                serif;
                --paragraph: 'Lusitana',
                    serif;
                    --h3: 'Lato',
                        sans-serif;

}
/* Navbar */
nav {
   
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    margin-left: 0;
}




ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--atlas-blue);

}
a:hover {
    color: var(--atlas-green);
}

/* Homepage */

.home {
    background-image: url("./tea/homepage.png");
        background-repeat: no-repeat;
        background-color: var(--tea-green);
        background-size: cover;
        background-position: right;
        height: 650px;
        padding: 2rem;
        
        
        
}


.glass-text {
    color: var(--plate-black);
    font-size: 90px;
    font-family: var(--welcome);
    margin-left: 80px;
    margin-top: 200px;
    animation: bounce 2s infinite;
    
    
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.home-about {
    
    height: 500px;
}

.home-about h1 {
    text-align: center;
    padding: 2rem;
    color: var(--atlas-blue);
    font-family: var(--atlas-font);
    font-size: 50px;
}

.home-about hr {
    border: none;
        height: 4px;
        width: 800px;
        display: block;
        margin: 0 auto;
        background-color: var(--atlas-red);
        opacity: 1;
        
}

.about-p {
    padding: 0 100px;
    text-align: center;
    font-size: 20px;
    font-family: var(--paragraph);
   
}

.about-button {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}

.about-button button {
    background-color: var(--atlas-green);
        color: var(--tea-green);
        border:2px inset var(--tea-green);
        width: 150px;
        height: 40px;
        font-size: 22px;
        border-radius: 5px;
        cursor: pointer;
        font-family: var(--paragraph);
}

.about-button :hover {
    background-color: var(--atlas-blue);
    color: var(--atlas-red);
}

/* About Page */

.about h2 {
    text-align: center;
        padding: 2rem;
        color: var(--atlas-blue);
        font-family: var(--atlas-font);
        font-size: 40px;
}

h2 hr {
    border: none;
        height: 2.5px;
        width: 100px;
        display: block;
        margin: 0 auto;
        background-color: var(--atlas-red);
        opacity: 1;
}
.about-one {
    background-image: url("./tea/DL koisagat.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        padding: 2rem;
        margin: 1rem;
        
             
}

.about-one .list-container {
    display: flex;
        flex-direction: column;
        /* Align items vertically */
        align-items: flex-start;
        font-family: var(--paragraph);
        
}



.list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.list-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    
}

.list-container li span {
    margin-right: 10px;
}

.about h3 {
    text-align: left;
        color: var(--atlas-blue);
        font-family: var(--h3);
        font-size: 30px;
    
        
}

.list-container .num {
    color: var(--atlas-green);
}

h3 hr {
        border: none;
            height: 1px;
            width: 400px;
            display: block;
            margin-left: 0px;
            background-color: var(--atlas-green);
            padding-top: 0;
            margin-top: 0;
}