/* Root */
:root {
    --atlas-blue: #342F7F;
    --atlas-green: #009F55;
    --background-grey: #BFC0BD;
    --potgrey: #424839;
    --plate-black: #191A0B;
    --tea-green: #d0f0c0;
    --heading-1: 'Montserrat',
        sans-serif;
        --welcome: 'Montez',
            cursive;;

}
/* Navbar */
nav {
    background-color: var(--tea-green);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    margin-left: 0;
}




ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
    font-size: 17.5px;
    margin-top: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--atlas-blue);

}
a:hover {
    color: var(--atlas-green);
}

/* Homepage */

.home {
    background-image: url("./tea/homepage.png");
        background-repeat: no-repeat;
        background-color: var(--atlas-green);
        background-size: cover;
        background-position: center;
        height: 650px;
        padding: 2rem;
        
        
}


.glass-text {
    color: var(--plate-black);
    font-size: 100px;
    font-family: var(--welcome);
    margin-left: 80px;
    margin-top: 200px;
    opacity: 0.9;
    
    
}


/* Not Found */
  
.not-found {
    background-color: var(--background-grey);
    height: 800px;
}