/* Root */
:root {
    --atlas-blue: #342F7F;
    --atlas-green: #009F55;
    --background-grey: #BFC0BD;
    --potgrey: #424839;
    --plate-black: #191A0B;
    --tea-green: #d0f0c0;
    --atlas-red: #E4440A;
    --sea-foam: #DFECFF;
    --background-dblue: #E8E6E4;
    --writing-grey: #333333;
    --heading-1: 'Montserrat',
        sans-serif;
        --welcome: 'Montez',
            cursive;
            --atlas-font: 'Merriweather',
                serif;
                --paragraph: 'Lusitana',
                    serif;
                    --h3: 'Lato',
                        sans-serif;
                        --lists: 'Frank Ruhl Libre',
                            serif;
                            --raleway: 'Raleway',
                                sans-serif;
    
                            

}
/* Navbar */
nav {
   
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    margin-left: 0;
}




ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
    font-size: 15px;
    margin-top: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--atlas-blue);

}
a:hover {
    color: var(--atlas-green);
}

/* Homepage */
/* Style for the container with the background image and overlay */
.home {
    position: relative;
    /* Ensure the overlay is positioned relative to this container */
    background-image: url("./tea/homepage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: var(--tea-green);
    height: 500px;
    padding: 2rem;
    color: var(--atlas-blue);
}

/* Create the opaque grey overlay using the ::before pseudo-element */
.home::before {
    content: "";
    /* Required for the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    /* Use the grey color with opacity (adjust the opacity as needed) */
}


.glass-text {
    color: var(--plate-black);
    font-size: 90px;
    font-family: var(--welcome);
    margin-left: 80px;
    margin-top: 200px;
    animation: bounce 2s infinite;
    
    
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.home-about {
    
    height: 500px;
}

.home-about h1 {
    text-align: center;
    padding: 2rem;
    color: var(--atlas-blue);
    font-family: var(--atlas-font);
    font-size: 50px;
}

.home-about hr {
    border: none;
        height: 4px;
        width: 800px;
        display: block;
        margin: 0 auto;
        background-color: var(--atlas-red);
        opacity: 1;
        
}

.about-p {
    padding: 0 100px;
    text-align: center;
    font-size: 20px;
    font-family: var(--paragraph);
   
}

.about-button {
    text-align: center;
    padding: 1rem 2rem;
    
}

.about-button button {
    background-color: var(--atlas-green);
        color: var(--tea-green);
        border:2px inset var(--tea-green);
        width: 200px;
        height: 40px;
        font-size: 22px;
        border-radius: 5px;
        cursor: pointer;
        font-family: var(--paragraph);
}

.about-button :hover {
    background-color: var(--atlas-blue);
    color: var(--atlas-red);
}
 
.footer {
    background-image: url('./tea/kapchorua.png');
        background-color: var(--tea-green);
       background-repeat: repeat-x;
       height: 200px;
        
       

}
/* About Page */

.about {
    background-color: #f5f5f5;
        /* Light Gray */
}

.about h2 {
    text-align: center;
        padding: 1rem;
        color: var(--atlas-blue);
        font-family: var(--atlas-font);
        font-size: 30px;
}

h2 hr {
    border: none;
        height: 2.5px;
        width: 100px;
        display: block;
        margin: 0 auto;
        background-color: var(--atlas-red);
        opacity: 1;
}

/* mission */
.about .mission {
   
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

.about .mission h3 hr {
    width: 170px;
    color: var(--writing-grey);
    padding-top: 0;
    margin-top: 0;
}

.about .mission h3 {
    font-size: 26px;
    margin-left: 70px;
    color: var(--atlas-green);
    opacity: 1;
    font-family: var(--h3);
    padding-top: 2rem;
}

.about .mission p {
    padding: 2rem;
    padding-top: 0;
    text-align: left;
    font-size: 20px;
    font-family: var(--paragraph);
    color: var(--atlas-blue);
}

.about .mission .opening {
    color: var(--atlas-green);
}

       /* Lists section */

           .about-lists {
               display: flex;
               justify-content: space-between;
               /* Space items evenly across the container */
               margin-left: 4rem;
               margin-right: 4rem;
               padding: 1rem;
               margin-top: 1rem;
            
                border-radius: 5px;
           }
    
           .journey,
           .why-us {
               flex: 1;
               /* Each section should take equal space */
           }
           .why-us {
            margin-top: 2rem;
           }

       .journey ul, .why-us ul {
        display: flex;
        flex-direction: column;
       }
       

       .journey h3, .why-us h3 {
        text-align: center;
        font-family: var(--h3);
        padding-top: 2rem;
        color: var(--atlas-green);
       }

       .journey h3 hr, .why-us h3 hr {
        width: 350px;
        margin-top: 0;
        margin: 0 auto;
       }

       .why-us h3 hr {
        width: 250px;
       }

       
       .why-us ul, .journey ul {
        margin-left: 3rem;
        font-family: var(--paragraph);
        
       }

       .journey ul {
        margin-left: 5rem;
        
       }

       .why-us ul {
        padding-left: 2rem;
       }

       .why-us ul li ,
       .journey ul li{
        font-size: 20px;
        padding-bottom: 0;
       }

       .why-us ul li {
        list-style-type: circle;
        color: var(--atlas-blue);
        
       }
       
       .why-us p, .journey p {
        text-align: center;
        font-family: var(--welcome);
        color: var(--atlas-green);
        font-size: 30px;
       }

       .why-us p {
        padding-top: 4rem;
       }

       .journey li span {
        color: var(--atlas-green);
       }

       .koisagat {
        margin-top: 0;
       
        
       }

       .koisagat img {
        border-radius: 5px;
        margin: 3rem;
        
       }

       .journey ul li {
        color: var(--atlas-blue);
       }

       .figures {
        display: flex;
        justify-content: space-between;
       }

              
 .staff {
    background-color: var(--tea-green);
    padding: 3rem;
    margin: 3rem;
    border: 1px solid var(--background-grey);
 }

 .about .staff h3 {
    font-size: 28px;
        margin-left: 70px;
        color: var(--atlas-green);
        opacity: 1;
        font-family: var(--h3);
 }

 .staff span {
    color: var(--atlas-green);
 }

 .about .staff h3 hr {
    width: 75px;
    padding-top: 0;
    margin-top: 0;
 }
 .about .staff p {
    padding: 0 100px;
        text-align: left;
        font-size: 20px;
        font-family: var(--paragraph);
 }

/*

 .contact-details h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }

 .contact-details hr {
     width: 500px;
     
 }

 .contact-details label {
     font-family: var(--paragraph);
     color: var(--atlas-blue);
     font-size: 18px;

 }

 .contact-details input,
 .contact-details textarea {
     margin-bottom: 5px;
 }

 .contact-details button {
     background-color: var(--atlas-green);
     color: var(--tea-green);
     margin-top: 1rem;
     text-align: center;
     font-family: var(--paragraph);
     margin-left: 400px;
     border-radius: 5px;
     border: 1px solid var(--tea-green);
     width: 100px;
     height: 40px;
 }

 .contact-details button:hover {
     background-color: var(--atlas-blue);
     color: var(--atlas-red);
 }

 .business-address {
     width: 650px;
     margin: 50px;

 }

 .business-address h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }

 .business-address h3 hr {
     margin-top: 2px;
     width: 500px;
     margin: auto;
 }

 .business-address p {
     font-family: var(--paragraph);
     font-size: 20px;
     text-align: center;
     color: var(--atlas-blue);
 }

 .phone-number {
     width: 400px;
     margin: 50px;
 }

 .phone-number h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }

 .phone-number .call {
     display: flex;
     flex-direction: column;
 }

 .phone-number span {
     color: var(--atlas-blue);
     font-size: 20px;
     text-align: justify;
 }

 .phone-number span a {
     color: var(--atlas-blue);
 }

 .phone-number span a:hover {
     color: var(--atlas-red);
 }

 .email {
     width: 300px;
     margin: 50px;
 }

 .email h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }

 .email h3 hr {
     width: 300px;
 }

 .email span {
     font-family: var(--paragraph);
     font-size: 24px;
     text-align: center;
 }

 .socials {
     margin: 50px;
     width: 500px;
 }

 .socials h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }

 .map {
     width: 700px;
     margin: 50px;
 }


 .map h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }

 .map h3 hr {
     width: 700px;
 }

 .business {
     width: 500px;
     margin: 50px;
 }

 .business h3 hr {
     width: 500px;
 }

 .business h4 {
     color: var(--atlas-blue);
     font-family: var(--paragraph);
     text-align: center;
 }

 .business ul {
     display: flex;
     flex-direction: column;
     color: var(--potgrey);
     font-family: var(--lists);
     text-align: center;
     font-size: 32px;
     text-transform: uppercase;

 }

 .business h3 {
     color: var(--atlas-green);
     font-family: var(--h3);
     text-align: center;
 }*/

 /* Style for the contact details container */
 .contact-details {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 /* Style for the contact form */
 .contact-form {
     margin: 20px;
     padding: 20px;
     border: 1px solid #ccc;
     background-color: #f5f5f5;
     max-width: 400px;
 }

 .contact-form h3 {
     display: flex;
     align-items: center;
     font-size: 1.5em;
     margin-bottom: 10px;
 }

 /* Style for form inputs and button */
 .form-control {
     width: 100%;
     padding: 5px;
     margin-bottom: 10px;
 }

 button {
     padding: 10px 20px;
     background-color: #007bff;
     color: white;
     border: none;
     cursor: pointer;
 }

 button:hover {
     background-color: #0056b3;
 }

 /* Style for the phone number and email sections */
 .phone-number,
 .email {
     margin: 20px;
     padding: 20px;
     border: 1px solid #ccc;
     background-color: #f5f5f5;
     max-width: 400px;
 }

 .phone-number h3,
 .email h3 {
     display: flex;
     align-items: center;
     font-size: 1.5em;
     margin-bottom: 10px;
 }

 /* Style for the socials section */
 .socials {
     margin: 20px;
 }

 .socials h3 {
     display: flex;
     align-items: center;
     font-size: 1.5em;
     margin-bottom: 10px;
 }

 /* Style for the business address section */
 .business-address {
     margin: 20px;
 }

 .business-address h3 {
     display: flex;
     align-items: center;
     font-size: 1.5em;
     margin-bottom: 10px;
 }

 /* Style for the business hours section */
 .business {
     margin: 20px;
 }

 .business h3 {
     display: flex;
     align-items: center;
     font-size: 1.5em;
     margin-bottom: 10px;
 }

 .business ul {
     list-style-type: none;
     padding: 0;
 }

 /* Style for the map section */
 .map {
     margin: 20px;
 }

 .map h3 {
     display: flex;
     align-items: center;
     font-size: 1.5em;
     margin-bottom: 10px;
 }

 .map iframe {
     width: 100%;
     max-width: 800px;
     height: 450px;
     border: none;
 }

 /* services */


 .service-header {
    background-image: url('./tea/kibena.png');
    height: 200px;
 }
 
 /* about-service */

 .services {
    background-color: #f8f8f8;
        /* Off-White */
 }
 .services .service {
     margin: 2rem;
     margin-top: 0;
 }

 .service h2 {
     font-family: var(--atlas-font);
     text-align: center;
     color: var(--atlas-blue);
     padding-top: 1rem;
 }

 .service h2 hr {
    width: 80px;
 }

 .service .open ,
  .service-close{
    padding: 0 100px;
        text-align: left;
        font-size: 23px;
        font-family: var(--paragraph);
        padding-bottom: 1rem;
        color: var(--atlas-blue);
 }

 .service-table {
    margin-left: 5rem;
    margin-right: 5rem;
 }

 .service h4 {
     font-family: var(--paragraph);
     color: var(--atlas-green);
     text-transform: uppercase;
     text-align: center;

 }

 .service ul {
     display: flex;
     justify-content: space-between;
     color: var(--atlas-blue);
     

 }

 .service p {
     font-family: var(--paragraph);
     font-size: 21px;
 }

 .service span {
     color: var(--atlas-green);
 }

 .service-close {
    font-size: 20px;
 }

 .service .note {
     padding: 1rem;
     color: var(--atlas-green);
     text-decoration: underline;
 }

 .service .note:hover {
     color: var(--potgrey);
 }

 .service .col {
    margin: 2rem;
    margin-top: 0;
 }

 .service-close {
    margin-right: 3rem;
    margin-left: 3rem;
    background-color:rgba(208, 240, 192, 0.7);
    margin-top: 0;
    border: 1px solid var(--atlas-green);
    margin-bottom: 2rem;
 }

 .service-close h3 {
    font-family: var(--h3);
    color: var(--atlas-green);
    padding-top: 2rem;
    
 }

 .service-close h3 hr {
    width: 460px;
    margin-top: 0;
 }
 
.service-close p {
    color: var(--atlas-green);
}
 

 

 

 
 