 .news {
    height: 100vh;
    background-color: #e0f7fa; /* Light Blue */

        /* Light Blue */
}

.news h2 {
    font-size: 30px;
    font-family: var(--atlas-font);
    color: var(--atlas-blue);
    padding: 1rem;
    text-align: center;
}

.news .time {
    padding-top: 0;
    margin-top: 0;
}

.news h3 {
    padding-left: 1rem;
    margin-left: 1rem;
    font-family: var(--paragraph);
    color: black;
    opacity: 0.9;
    font-size: 28px;
    text-transform: capitalize;
}

.news .stories .frame {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    }

    .news .stories .frame img {

        padding: 1rem;
        margin: 1rem;
        text-align: center;
        height: 320px;
        background-color: var(--background-grey);
        box-shadow: 0 4px 8px var(--background-dblue);
    }

    .stories p {
        color: var(--atlas-blue);
        font-size: 22px;
        padding: 1rem;
        margin: 1rem;
        padding-left: 2rem;
    }
.story {
    position: relative;
    /* Make .story a positioning context */
}

    .stories a {
        position: absolute;
            bottom: 5rem;
            color: var(--background-grey);
            background-color: var(--atlas-green);
            padding: 1rem;
            left: 70%;
                /* Move the link to the center horizontally */
                transform: translateX(-50%);
                /* Center the link horizontally */
       
    }

    .stories a:hover {
        background-color: var(--background-grey);
        color: var(--atlas-green);
    }