 .news {
    background-color: #e0f7fa; /* Light Blue */

        /* Light Blue */
}

.news h2 {
    font-size: 30px;
    font-family: var(--atlas-font);
    color: var(--atlas-blue);
    padding: 1rem;
    text-align: center;
}

.news .time {
    padding-top: 0;
    margin-top: 0;
}

.news h3 {
    padding-top: 1rem;
    text-align: center;
    font-family: var(--paragraph);
    color: black;
    opacity: 0.9;
    font-size: 28px;
    text-transform: uppercase;
    text-decoration: underline;
}

.news .story {
    box-shadow: 0 4px 8px var(--atlas-blue);
}

.news .stories .frame {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    
    padding: 1rem;
    }

    

    .news .stories .frame img {

        padding: 1rem;
        margin: 1rem;
        text-align: center;
        height: 300px;
       
        box-shadow: 2px 2px 2px 2px var(--atlas-green);
    }

        

    .stories p {
        color: var(--atlas-blue);
        font-size: 22px;
        padding: 1rem;
        margin: 1rem;
        padding-left: 2rem;
        font-family: var(--paragraph);
    }
.story {
    position: relative;
    padding: 1rem;
    margin: 1rem;
    /* Make .story a positioning context */
}

.frame p span {
    font-size: 15px;
    color: var(--atlas-green);
    position: absolute;
    right: 2rem;
}

    .stories a {
        position: absolute;
            bottom: 3rem;
            color: var(--background-grey);
            background-color: var(--atlas-green);
            padding: 1rem;
            left: 80%;
                /* Move the link to the center horizontally */
                transform: translateX(-50%);
                /* Center the link horizontally */
       
    }

    .stories a:hover {
        background-color: var(--background-grey);
        color: var(--atlas-green);
        box-shadow: 0 0 5px (var(--atlas-green)), 0 0 25px (var(--atlas-green));
        }
        
        

.new-pic {
    display: flex;
    flex-direction: column;
}

.new-pic span a{
    opacity: 0.9;
}

@media (max-width: 900px) {
   
    .news h3 {
        font-size: 24px;
        text-decoration: none;
    }

    .news .stories .frame {
        display: flex;
        flex-direction: column;
    }

    .stories p {
        font-size: 20px;
        padding: 1rem;
        margin: 1rem;
        padding-bottom: 5rem;
        font-family: var(--paragraph);
    }

    .stories a {
        position: relative;
        margin: 1rem;
        padding: 1rem;
        width: 200px;
        text-align: center;
    }

        .stories a:hover {
            background-color: var(--background-grey);
            color: var(--atlas-green);
        }

}